<div class="component">

	<div id="bg"><img src="/images/chaotic_fm_roland_tr_909_02.png"/></div>
	<div id="matrix" class="matrix"></div>
	<div id="knob-wrapper"></div>
	
	<button id="start"><img src="/images/TR-909_btn_start.jpg"/></button>
	<button id="stop"><img src="/images/TR-909_btn_start.jpg"/></button>
	<button id="clear">CLEAR</button>
	<button id="save">SAVE</button>
		
	<div id="led" class="led">
		<div id="led-bg"><img src="/images/TR-090_LED.jpg"/></div>
		<div id="tempo" class="tempo">TEMPO</div>
	</div>

</div>

<div id="debug">
	<div id="info">LOADING</div>
	<div id="audio-debug">AUDIO DEBUG</div>
	<div id="ui-debug">UI DEBUG</div>
</div>