body {
	height: 100%;
}

div.component {
	background-color: rgba(32, 122, 233, 0.9);
	position: relative;
	height: 100%;
	width: 1000px;
	margin: 0 auto;
}

div.control {
	position: absolute;
	background-color: white;
}

div#bg {
	position: absolute;
	z-index: 0;
}

div#bg img {
	width: 800px;
	height: 500px;
}

div#matrix {
	background-color: rgba(32, 32, 32, 0.5);
	position: absolute;
	z-index: 1;
	top: 274px;
	left: 370px;
}

div#knob-wrapper {
	background-color: rgba(0, 255, 99, 0.5);
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
}

div#debug {
	background-color: rgba(32, 32, 32, 0.5);
	width: 100px;
	float: right;
	z-index: 100;
}

table.grid {
	background: black;
	border-width: 1px;
}

table.grid td {
	text-align: center;
	background-color: rgba(230, 232, 222, 0.8);
	border-width: 0px;
	border-style: solid;
	border-color: #000000;
	padding: 0px;
	margin: 0px;
	width: 4px;
	height: 4px;
	cursor: pointer;
}

table.grid td.on {
	background-color: #696969;
}

table.grid td.accent {
	background-color: #000000;
}